doctype html

html
    head
        title=title

    body
        p welcome to login

        form(id ="form",name="form",method="post",action="")
          table
             tr 

                input(type="text",id="username",name="username",placeholder="your username")
                
                input(type="password",id="password",name="password",placeholder="password here")

                input(type="submit",value="login")


        span
           p Dont have any account yet?

           p
             a(href="/signup") Sign UP

             